{% extends 'base.html.twig' %}

{% block title %}
  Index
{% endblock %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5; padding:
    2px 6px; }
  </style>

  <div class="example-wrapper">
    <h1>
      Bonjour {{ app.user.firstname }} {{ app.user.lastname }}
    </h1>
    <h2>
      Voici les commandes du mois courant :
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            Date
          </th>
          <th>
            Price
          </th>
          <th>
            Link
          </th>
          <th>
            Products
          </th>
          <th>
            actions
          </th>
        </tr>
      </thead>
      <tbody>
        {% for command in commands %}
          <tr>
            <td>
              {{ command.id }}
            </td>
            <td>
              {{ command.date ? command.date|date('Y-m-d') : '' }}
            </td>
            <td>
              {{ command.price }}
            </td>
            <td>
              {{ command.link }}
            </td>
            <td>
              {% for product in command.products %}
                {{ product }}
              {% endfor %}
            </td>
            <td>
              <a href="{{
                path(
                  'app_command_show',
                  {
                    id: command.id
                  }
                )
                }}">
                Afficher
              </a>
              {% if 'ROLE_ADMIN' in app.user.roles %}
                <a href="{{
                  path(
                    'app_command_edit',
                    {
                      id: command.id
                    }
                  )
                  }}">
                  Modifier
                </a>
              {% endif %}
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">
              Aucune données
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if 'ROLE_ADMIN' in app.user.roles %}
      <a href="{{ path('app_command_new') }}">Créer une nouvelle commande</a>
    {% endif %}
  </div>
{% endblock %}
